# Reusable Build Workflow
name: _Build

on:
  workflow_call:

jobs:
  build-lsp:
    name: Build LSPML
    # Set the job to run on the platform specified by the matrix below
    runs-on: ${{ matrix.runner }}
    # Define the build matrix for cross-compilation
    strategy:
      matrix:
        include:
          - name: linux-amd64
            runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - name: win-amd64
            runner: windows-latest
            target: x86_64-pc-windows-msvc
          - name: macos-amd64
            runner: macos-latest
            target: x86_64-apple-darwin
          - name: macos-arm64
            runner: macos-latest
            target: aarch64-apple-darwin
    steps:
      - uses: actions/checkout@v6
        with:
          repository: DrWursterich/lspml

      - run: |
          rustup toolchain install stable --profile minimal --no-self-update
          rustup target add ${{ matrix.target }}

      - name: Setup Cache
        uses: Swatinem/rust-cache@v2

      - name: Build Binary
        run: cargo build --workspace --verbose --locked --release --target ${{ matrix.target }} --config lto=true --config strip=true

      - name: Release Binary
        shell: bash
        run: |
          BIN_SUFFIX=""
          if [[ "${{ matrix.runner }}" == "windows-latest" ]]; then
            BIN_SUFFIX=".exe"
          fi

          # The built binary output location
          BIN_OUTPUT="target/${{ matrix.target }}/release/lspml${BIN_SUFFIX}"

          # Define a better name for the final binary
          BIN_RELEASE="dist/lspml-${{ matrix.name }}${BIN_SUFFIX}"

          # Move the built binary where you want it
          mkdir "dist"
          mv "${BIN_OUTPUT}" "${BIN_RELEASE}"
          chmod a+x "${BIN_RELEASE}"

      - name: Upload LSPML as artifact
        uses: actions/upload-artifact@v5
        with:
          path: dist/lspml-*
          name: lspml-${{ matrix.name }}

  build-extension:
    name: Build Extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: bun run compile

      - name: Cache compiled extension
        uses: actions/cache@v4
        with:
          path: dist/
          key: compiled-extension-${{ github.sha }}
